.caudex-regular {
    font-family: "Caudex", serif;
    font-weight: 400;
    font-style: normal;
}

.caudex-bold {
    font-family: "Caudex", serif;
    font-weight: 700;
    font-style: normal;
}

.caudex-regular-italic {
    font-family: "Caudex", serif;
    font-weight: 400;
    font-style: italic;
}

.caudex-bold-italic {
    font-family: "Caudex", serif;
    font-weight: 700;
    font-style: italic;
}

.open-sans-bold {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.open-sans-regular {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.open-sans-regular a {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    color: cfc9c5;
}