<header class="header">
    <div class="header-container header-grid">
        <div class="logo hearthlight-logo">
            <img src="https://drive.google.com/thumbnail?id=1q7J3qJi6goHXm5owlaXQzo8iGfu37xbE">
        </div>

        <div class="social nav-social">
            {%include 'widgets/_socials.html' %}
        </div>
        
        <button class="nav-button">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#e3e3e3"><path d="M120-240v-66.67h720V-240H120Zm0-206.67v-66.66h720v66.66H120Zm0-206.66V-720h720v66.67H120Z"/></svg>
            </div>
        </button>

        <nav class="nav nav-options">
            <li class="submenu"><a href="#">Play</a>
                <ul>
                    <li><a href="https://www.hearthlightgame.org/play">Find a Chapter</a></li>
                    <li><a href="https://www.hearthlightgame.org/waiver">Submit a Waiver</a></li>
                    <li><a href="#">Become a Member</a></li>
                    <li><a href="https://www.hearthlightgame.org/start-a-chapter">Start a Chapter</a></li>
                    <li><a href="#">Chapter Application</a></li>
                </ul>
            </li>
            <li class="submenu"><a href="#">Rules</a>
                <ul>
                    <li><a href="https://drive.google.com/file/d/15Sz4pC38RDw_ghmaELo7STBkyaH7a5FF/view">Treatise of War</a></li>
                    <li><a href="https://www.hearthlightgame.org/garb-aesthetic-guide">Garb & Aesthetic Guide</a></li>
                    <li><a href="https://drive.google.com/open?id=1-PqVWGIQJn4n8DJnPCeQhDQo03--l831">Safety & Discipline</a></li>
                    <li><a href="https://drive.google.com/open?id=1GUGqttkimuPhDxtgwjCih0gbAj4oDc8e">Code of Conduct</a></li>
                </ul>
            </li>
            <li><a href="https://www.hearthlightgame.org/news">News</a></li>
            <li><a href="https://www.hearthlightgame.org/forum">Forums</a>
                <ul class="submenu">
                    <li><a href="#">Members</a></li>
                </ul>
            </li>
            <li><a href="#">Resources</a>
                <ul class="submenu">
                    <li><a href="https://hearthlight.fandom.com/wiki/Hearthlight_Wiki">Wiki</a></li>
                    <li><a href="https://www.hearthlightgame.org/about">About</a></li>
                    <li><a href="https://www.hearthlightgame.org/contact">Contact</a></li>
                    <li><a href="https://www.hearthlightgame.org/national-ban-list">National Ban List</a></li>
                    <li><a href="https://www.hearthlightgame.org/safety">Submit Incident Report</a></li>
                    <li><a href="https://www.hearthlightgame.org/get-involved">Get Involved</a></li>
                    <li><a href="https://www.hearthlightgame.org/photo-gallery">Photo Gallery</a></li>
                    <li><a href="https://www.hearthlightgame.org/voting">Voting</a></li>
                </ul>
            </li>
        </nav>
        
        <div class="user nav-user">
            {% include 'widgets/_user_avatar.html' %}
        </div>
    </div>
</header>