<!DOCTYPE html>
<html lang="en">

    {% load static %}
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>

        {% block head %}

        <!-- Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>Hearthlight</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
    
        <!-- Favicons -->
  
        <!-- Fonts -->
   
        <!-- Vendor CSS Files -->
        
        <!-- Main CSS File -->
        <link href={% static "assets/css/main.css" %} rel="stylesheet">
        {% endblock %} 
    </head>

    <body {% block body_attr%}{% endblock %}>
        {% block header %}{% endblock %}
        {% block page_content %}Hello, World!{% endblock %}
        {% block footer %}{% endblock %}
        {% block last_before_script%} {% endblock last_before_script%}
        {% block preload%}{% endblock preload%}

        <!-- Vendor JS Files -->
        {% block script %}
            <script src={% static "assets/vendor/bootstrap/js/bootstrap.bundle.min.js" %}></script>        
        {% endblock %}    

        {% block main_js %}{% endblock %}
    </body>

</html>