/*
    DJANGO Base HTML styles
*/

:root {
    --margin: calc(50% - 490px);
    --Hearthlight-Background-Light: #f7f7f7;
    --Hearthlight-Footer-Color-Light: #99582a; 
}


html body {
    margin: 0;
    background-color: var(--Hearthlight-Background-Light);
    display: grid;
    grid-template-rows: 
        min-content 
        min-content
        min-content
        max-content;
    grid-template-columns: 100vw;
    grid-template-areas: 
        "header"
        "main"
        "main"
        "footer";
    padding:0;
}

main {
    margin-left: var(--margin);
    margin-right: var(--margin);
    grid-area: main;
    min-height: 8.5in;
    align-content: baseline;
}

#container {
   min-height:100%;
   height: 100%;
   position: absolute;
}

#body {
   padding: 10px; 
   padding-bottom: 60px; /* whitespace before footer */
   display: grid;
}

#body>div>h1{
    font-size: 40px; 
}

#body>div>p {
    font-size: 18px; 
}

.advanced-float {        
    display: block;
    float: right;
    shape-outside: polygon(23% 0, 100% 0, 100% 100%, 0 100%, 0 64%);
    clip-path: polygon(23% 0, 100% 0, 100% 100%, 0 100%, 0 64%);
}

@media (max-width: 975px) {
    
    main {
        grid-area: main;
        min-height: 8.5in;
        align-content: baseline;
        margin: 0;
        justify-self: center;
    }
    
    main>div>img.advanced-float {
        display: none;
    }

    main>div {
        text-align: center;
    }

    #body>div>h1{
        font-size: 55px; 
        word-wrap: normal;
    }

    #body>div>p {
        font-size: 32px;
        word-wrap: break-word;
    }

}